{% extends 'other/base.html' %}
{% block "title" %}
    Add Users Page
{% endblock "title" %}
{% block "content" %}

<body>
    <div class="jumbotron text-center bg-light" style="margin-bottom:0">
        <h1>DMS Document Management System</h1>
        <p>Welcome, {{user.username}}. | <a href="/signout">Logout</a></p> 
        </div>
    
<nav class="navbar navbar-expand-sm bg-dark sticky-top" id="shadow1">
    <a class="navbar-brand" style="font-size:30px;" href="/staffhomepage">
        <img src="\static\images\logo.png" alt="Logo" style="width:50px;">  DMS
        </a>
    <ul class="nav nav-tabs">
        <li class="nav-item">
        <a class="nav-link" style="font-size:20px;" href="/staffhomepage">Home</a>
        
        </li>
        <li class="nav-item">
            <a class="nav-link" style="font-size:20px;" href="/uploadfile">Upload</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" style="font-size:20px;" href="{% url 'viewprofile' user.id %}">Profile</a>
        </li>
    </ul>
</nav>
    
<div class="cover">
    <div class="container bg-light" id="shadow1">

            <h1 style="text-align: center;">Add User</h1>

        {% if user.is_authenticated %}
        
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            
            <br><br>
            
            {{ form1.as_p }}

            <div>
                <h5>Is Staff</h5>
                {{ form2.my_checkbox }} {{ form2.my_checkbox.label }}
            </div>
            
            <br><br>
            <button type="submit" class='btn btn-primary px-4'>Add User</button>
            <a class='btn btn-primary px-4' href="{% url 'userlist' %}">Back</a>
            </form>

    {% endif %}

</div>
<br><br><br>
</div>

{% endblock "content" %}
</body>