{% extends 'other/base.html' %}
{% block "title" %}
Document Management System
{% endblock "title" %}

{% block "content" %}
<body class="cover">
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-8 offset-3"> 
            <h3 style="font-size:35px"> Document Management System </h3>
            <br>
            <div class="col-md-8 offset-1"> 
            <h4><a class="btn btn-sm btn-info" href="/register">Register as User</a>
            <a class="btn btn-sm btn-info" href="/adminregister">Register as Admin</a>
            <a class="btn btn-sm btn-info" href="/signin">Login</a></h4>
            </div>
        </div>
    </div>
</div>
<script src="" async defer></script>
{% endblock "content" %}
</body>

