{% extends 'other/base.html' %}
{% block "title" %}
DMS Document Management System
{% endblock "title" %}

{% block "content" %}
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">


<div class="cover">
    <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-8">
            <div class="card-group mb-0">
              <div class="card p-4" id="shadow1">
                <div class="card-body">
                  <h1>Login</h1>
                  <p class="text-muted">Sign In to your account</p>
                  <form method="POST">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        <span class="input-group-addon"><i class="fa fa-user fa-lg"></i></span>
                        <p>&ensp;</p><input type="text" class="form-control" id="username" name="username" placeholder="Username" Required>
                      </div>
                      <div class="input-group mb-4">
                        <span class="input-group-addon"><i class="fa fa-lock fa-lg"></i></span>
                        <p>&ensp;</p><input type="password" class="form-control" id="password" name="password" placeholder="Password" Required>
                      </div>
                      <div class="row">
                        <div class="col-6">
                            <button type="submit" class='btn btn-primary px-4'>Login</button>
                        </div>
                      </div>
                    </form>
                    
                  </div>
                </div>
              
            
              <div class="card text-white bg-primary py-5 d-md-down-none" style="width:100%" id="shadow1">
                <div class="card-body text-center">
                  <div>
                    <h2>Sign up</h2>
                    <p>First Time Here? Don't Have An Account?</p>
                    <a class="btn btn-primary active mt-3" href="/register">Register as User</a>
                    <a class="btn btn-primary active mt-3" href="/adminregister">Register as Admin</a>
                  </div>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>  
<script src="" async defer></script>
<br><br><br><br><br><br><br><br><br><br>
</div>
{% endblock "content" %}
</body>

