{% extends 'other/base.html' %}
{% block "title" %}
    Log History Page
{% endblock "title" %}

{% block "content" %}

<style>

h5{
    text-align: center;
    font-size: 13px;
}
</style>

<body>
    <div class="jumbotron text-center bg-light" style="margin-bottom:0">
        <h1>DMS Document Management System</h1>
        <p>Welcome, {{user.username}}. | <a href="/signout">Logout</a></p> 
        </div>
    
<nav class="navbar navbar-expand-sm bg-dark sticky-top" id="shadow1">
    <a class="navbar-brand" style="font-size:30px;" href="/staffhomepage">
        <img src="\static\images\logo.png" alt="Logo" style="width:50px;">  DMS
        </a>
    <ul class="nav nav-tabs">
        <li class="nav-item">
        <a class="nav-link" style="font-size:20px;" href="/staffhomepage">Home</a>
        
        </li>
        <li class="nav-item">
            <a class="nav-link" style="font-size:20px;" href="/uploadfile">Upload</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" style="font-size:20px;" href="{% url 'viewprofile' user.id %}">Profile</a>
        </li>
    </ul>
</nav>
    
        
<div class="cover">
<div class="container-fluid">
    <div class="row">
    <div class="col-lg-10">
        <h1 style="text-align: center;" id="shadow1">User History Log</h1>
    <br>
    
    {% if user.is_staff == True %}
        <a class='btn btn-info px-4' href="{% url 'loguser_pdf' %}">User Log Report</a>
    {% endif %}
    <br>

    {% for loguser_obj in loguser_list reversed %}
        
        <br>
        
        {% if loguser_obj.action == "logged in" %}
        <h5>---- {{loguser_obj.log_user}} <i>{{loguser_obj.action}}</i> at {{loguser_obj.time}}. </h5>

        {% else %}
        <h5>---- {{loguser_obj.log_user}} <i>{{loguser_obj.action}}</i> at {{loguser_obj.time}}. </h5>

        {% endif %}


        {% empty %}
        <br>
        <h4 style="text-align: center;">-- No User History Found --</h4>
    

    {% endfor %}

    <br>
    <br>
    <a class='btn btn-primary px-4' href="{% url 'staffhomepage' %}">Back</a>
        
   
</div>
<div class="col-lg-2">
    <div class="container p-3 my-3 border border-dark bg-light" id="shadow1">
          <a href="{% url 'viewhistory' user.username %}"><u>Recently Viewed</u></a>
          <br>
          <a href="{% url 'loghistory' %}"><u>File History Log</u></a>
          
          {% if user.is_staff == True %}
          <br>
          <a href="{% url 'loguser' %}"><u>User Log</u></a>
          <br>
          <a href="{% url 'userlist' %}"><u>User List</u></a>
          {% endif %}
          
      </div>
  </div>
    </div>
</div>
<br><br>
</div>

{% endblock "content" %}
</body>
   