{% extends 'other/base.html' %}
{% block "title" %}
    Admin Home Page
{% endblock "title" %}
{% block "content" %}

    
<body>
    <div class="jumbotron text-center bg-light" style="margin-bottom:0">
        <h1>DMS Document Management System</h1>
        <p>Welcome, {{user.username}}. | <a href="/signout">Logout</a></p> 
        </div>
    
<nav class="navbar navbar-expand-sm bg-dark sticky-top" id="shadow1">
    <a class="navbar-brand" style="font-size:30px;" href="/staffhomepage">
        <img src="\static\images\logo.png" alt="Logo" style="width:50px;">  DMS
        </a>
    <ul class="nav nav-tabs">
        <li class="nav-item">
        <a class="nav-link active" style="font-size:20px;" href="/staffhomepage">Home</a>
        
        </li>
        <li class="nav-item">
            <a class="nav-link" style="font-size:20px;" href="/uploadfile">Upload</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" style="font-size:20px;" href="{% url 'viewprofile' user.id %}">Profile</a>
        </li>
    </ul>
</nav>
    
        
<div class="cover">
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-10">
        {% if user.is_authenticated %}

        <br>
        <div style="float:right">
            <form class="form-inline">
                <input class="form-control mr-sm-2" name="s" type="search" placeholder="Search">
                <button class="btn btn-info" type="submit">Search</button>
            </form>
        </div>

        
        <br><br><br>
        <table class="table table-dark table-striped" id="shadow1">
            <tr>
                <th>File Title</th>
                <th>Uploader</th>
                <!-- <th>File Link</th> -->
                <th>Time Uploaded</th>
                <th>View
                <th>Edit Title</th>
                <th>Update File</th>
                <th>Delete</th>
                <th>Download</th>
            </tr>
    
            {% for result in file reversed %}
            <tr>
                <td>{{result.title}}</td>
                <td>{{result.uploader}}</td>
                <td>{{result.time}}</td>

                <!-- <td>
                    <form action="/history" method="POST"> 
                {% csrf_token %}
                    <input type="hidden" name="t_id" value="{{result.title_id}}">
                    <a class="btn btn-sm btn-info" href= "/media/{{result.file.name}}">View</a>
                </form></td> -->

                <!-- <button type="submit" class='btn btn-sm btn-info' href= "/media/{{result.file.name}}">View</button> -->

                <!-- <td><a class="btn btn-sm btn-info" href= "/media/{{result.file.name}}">View</a></td> -->

                <td><a class="btn btn-sm btn-info" href="{% url 'viewfile' result.title %}" >View</a></td>
    
                {% if result.uploader == user.username %}
                <td><a class="btn btn-sm btn-secondary" href="{% url 'editfile' result.title %}" >Edit</a></td>
    
                {% else %}
                <td><a class="btn btn-sm btn-secondary" href="/error">Edit</a></td>
    
                {% endif %}
    
                {% if result.uploader == user.username %}
                <td><a class="btn btn-sm btn-info" href="{% url 'updatefile' result.title %}" >Update</a></td>
    
                {% else %}
                <td><a class="btn btn-sm btn-info" href="/error">Update</a></td>
    
                {% endif %}
    
                {% if result.uploader == user.username %}
                <td><a class="btn btn-sm btn-danger" href="{% url 'deletefile' result.title %}">Delete</a></td>
    
                {% else %}
                <td><a class="btn btn-sm btn-danger" href="/error">Delete</a></td>
    
                {% endif %}

                <td><a class="btn btn-sm btn-secondary" href="/media/{{result.file.name}}" download>Download</a></td>
            </tr>

            {% empty %}
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td style="text-align:center;">-- No File Items Found --</td> 
            </tr>
    
            {% endfor %}
        </table>

    </div>
    <div class="col-lg-2">
        <div class="container p-3 my-3 border border-dark bg-light" id="shadow1">
            <a href="{% url 'viewhistory' user.username %}"><u>Recently Viewed</u></a>
            <br>
            <a href="{% url 'loghistory' %}"><u>File History Log</u></a>
            <br>
            <a href="{% url 'loguser' %}"><u>User Log</u></a>
            <br>
            <a href="{% url 'userlist' %}"><u>User List</u></a>
            
            
        </div>
    </div>

    {% endif %}
</div>
</div>
<br><br><br><br><br><br>
</div>

{% endblock "content" %}
</body>