{% extends 'other/base.html' %}
{% block "title" %}
    Track User Page
{% endblock "title" %}
{% block "content" %}

<body>
    <div class="jumbotron text-center bg-light" style="margin-bottom:0">
        <h1>DMS Document Management System</h1>
        <p>Welcome, {{user.username}}. | <a href="/signout">Logout</a></p> 
        </div>
    
<nav class="navbar navbar-expand-sm bg-dark sticky-top" id="shadow1">
    <a class="navbar-brand" style="font-size:30px;" href="/staffhomepage">
        <img src="\static\images\logo.png" alt="Logo" style="width:50px;">  DMS
        </a>
    <ul class="nav nav-tabs">
        <li class="nav-item">
        <a class="nav-link" style="font-size:20px;" href="/staffhomepage">Home</a>
        
        </li>
        <li class="nav-item">
            <a class="nav-link" style="font-size:20px;" href="/uploadfile">Upload</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" style="font-size:20px;" href="{% url 'viewprofile' user.id %}">Profile</a>
        </li>
    </ul>
</nav>
    
        
<div class="cover">
<div class="container bg-light" id="shadow1">
    
        {% if user.is_authenticated %}
        
        <br>
        <p>Uploaded {{ upload_count }} files </p>
        <p>Deleted {{ delete_count }} files </p>
        <p>Edited {{ edit_count }} files </p>
        <p>Updated {{ update_count }} files </p>
        <p>Viewed {{ view_count }} files </p>
        
        <a class='btn btn-primary px-4' href="{% url 'userlist' %}">Back</a>
        
    
    {% endif %}

</div>
<br><br><br>
</div>
{% endblock "content" %}
</body>