{% extends 'other/base.html' %}
{% block "title" %}
    User Password Page
{% endblock "title" %}
{% block "content" %}

<body class="cover">
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-10">
            <h1> Document Management System</h1>
        </div>
        <div class="col-lg-2">
            <h5> Welcome, {{user.username}}. | <a href="/signout">Logout</a></h5>
        </div>
    </div>
</div>       

<nav class="navbar navbar-expand-sm bg-dark">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" style="font-size:25px;" href="/staffhomepage">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="font-size:22px;" href="/uploadfile">Upload</a>
    </ul>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-10">
            {% if user.is_authenticated %}

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            
            {{ form.as_p }}

            <div> 
                <h5> Username </h5> {{users.username}}
            </div>

            <br>

    
            <div>
                <label> New Password </label>
                <input type="password" class="form-control" id="new_password1" name="new_password1" placeholder="Enter New Password" Required>
                
            </div>
            

            <br>
            <div>
                <label> Password Confirmation </label>
                <input type="password" class="form-control" id="new_password2" name="new_password2" placeholder="Enter New Password Confirmation" Required>
                
            </div>
            
            <br><br>
            <button type="submit" class='btn btn-sm btn-info'>Save</button>
            <a class='btn btn-sm btn-info' href="{% url 'userlist' %}">Back</a>
            </form>

            {% endif %}

</div>
</div>
{% endblock "content" %}
</body>