{% extends 'other/base.html' %}
{% block "title" %}
    Recently Viewed
{% endblock "title" %}
{% block "content" %}


<body>
    <div class="jumbotron text-center" style="margin-bottom:0"> 
        <h1>DMS Document Management System</h1>
        <p>Welcome, {{user.username}}. | <a href="/signout">Logout</a></p> 
      </div>

      <nav class="navbar navbar-expand-sm bg-dark sticky-top" id="shadow1">
        {% if user.is_staff == True %}
        <a class="navbar-brand" style="font-size:30px;" href="/staffhomepage">
            <img src="\static\images\logo.png" alt="Logo" style="width:50px;">  DMS
          </a>
          {% else %}
          <a class="navbar-brand" style="font-size:30px;" href="/homepage">
            <img src="\static\images\logo.png" alt="Logo" style="width:50px;">  DMS
          </a>
          {% endif %}
    <ul class="nav nav-tabs">
        <li class="nav-item">
            {% if user.is_staff == True %}
            <a class="nav-link" style="font-size:20px;" href="/staffhomepage">Home</a>
    
            {% else %}
            <a class="nav-link" style="font-size:20px;" href="/homepage">Home</a>
    
            {% endif %}
        </li>
        <li class="nav-item">
          <a class="nav-link" style="font-size:20px;" href="/uploadfile">Upload</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" style="font-size:20px;" href="{% url 'viewprofile' user.id %}">Profile</a>
        </li>
    </ul>
</nav>

<div class="cover">
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-10">
        {% if user.is_authenticated %}

        <br>
        <div style="float:right">
            <form class="form-inline">
                <input class="form-control mr-sm-2" name="s" type="search" placeholder="Search">
                <button class="btn btn-info" type="submit">Search</button>
            </form>
        </div>
        
        <br><br><br>
        <h1 style="text-align: center;" id="shadow1">Recently Viewed</h1>

        <table class="table table-dark table-striped" id="shadow1">
            <tr>
                <th>File Title</th>
                <th>File Link</th>
                <th>Viewed Time</th>
            </tr>

            {% for history_obj in history_list reversed %}

            <tr>
                <td>{{history_obj.file_name}}</td>
                <td><a href="/media/{{history_obj.file_path}}">{{history_obj.file_path}}</a></td>
                <td>{{history_obj.viewed_at}}</td>
            </tr>
        

            {% empty %}
            
        
                <tr>
                    <td>-- No History Items Found --</td> 
                </tr>

            

            {% endfor %}
        </table>
        <br>
        {% endif %}

        {% if user.is_staff == True %}
        <a class='btn btn-primary px-4' href="{% url 'staffhomepage' %}">Back</a>

        {% else %}
        <a class='btn btn-primary px-4' href="{% url 'homepage' %}">Back</a>

        {% endif %}
</div>
<div class="col-lg-2">
    <div class="container p-3 my-3 border border-dark bg-light" id="shadow1">
        <a href="{% url 'viewhistory' user.username %}"><u>Recently Viewed</u></a>
        <br>
        <a href="{% url 'loghistory' %}"><u>File History Log</u></a>

        {% if user.is_staff == True %}
        <br>
        <a href="{% url 'loguser' %}"><u>User Log</u></a>
        <br>
        <a href="{% url 'userlist' %}"><u>User List</u></a>
        {% endif %}
        
    </div>
</div>
</div>
</div>
<br><br>
</div>

{% endblock "content" %}
</body>